 
 <app-menu></app-menu>

  <html> 
    <body  class="pata" style="background: url(../../../../../assets/imagenes/supernova-kepler.gif)"  >

    

  
  <!-- First Container -->
  <div id ="quiwn" class="fondo" class="container-fluid bg-1 text-center">
      
    <h3 class="margin">Quién Soy? </h3>
    <h3 class="margin">       Alan Ruiz </h3>
    <div class="imgcontainer">
    <img src="./docs/assets/imagenes/yoquien.jpg" alt="Avatar" class="avatar" max-width="104">
    <!-- para la web <img src="/assets/imagenes/yoquien.jpg" alt="Avatar" class="avatar" max-width="104">-->
  </div>
    <h3>Soy Un alumno de la UTN FRA</h3>
    <p>Formato de Fuente font: oblique bold 120% cursive;</p>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Esto es un trabajo práctico</h3>

    <span class="glyphicon glyphicon-file" class="pata2"><p>Formato de letra font: small-caps 100%/200% serif;</p>
      <p>Este Juego se trata de carrera de autos donde se debe esquivar los obstaculos para sumar puntos y llegar a la meta con el mayor puntaje
 
    Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa el educador busca información en el alumno para lograr comprender cómo se está
      produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>
     </span>
      <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-file"></span> Descargar CV en formato PDF
    </a>
  </div>
 
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Profesor Url <a href=" https://www.octavio.com.ar">www.octavio.com.ar</a></p> 
  </footer>

</body></html>