.game-container {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  padding-left: 15px;
}

scoreboard {
  max-width: 600px;
}

.result {
  margin: 25px;
  font-size: 25px;
  font-weight: bold;
}