<div>
  <nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo">Rock, Paper, Scissors</a>
   </div>
  </nav>
  <div class="container center-align">
     <scoreboard class="center-align" [score]="state.score"></scoreboard> 
    <div class="center-align game-container" [ngSwitch]="state.gameState">
      <button *ngSwitchCase="GameState.Waiting" class="btn btn-large" (click)="start()">Start</button>
      <counter *ngSwitchCase="GameState.Countdown" [value]="state.countdownTimer"></counter>
      <div *ngSwitchCase="GameState.Playing" class="row">
        <div class="col s12 m6">
          <div *ngIf="state.playerItem === null" class="player-options-container row">
            <p>Click an option</p>
            <rps-logo *ngFor="let option of playerOptions" [option]="option" (click)="selectPlayerItem(option)" class="col s4"></rps-logo>
          </div>
          <rps-logo *ngIf="state.playerItem !== null" [option]="state.playerItem"></rps-logo>
        </div>
        <div class="col s12 m6">
          <rps-logo [option]="state.opponentItem"></rps-logo>
        </div>
        <div class="col s12 result" *ngIf="state.playerItem !== null" [ngSwitch]="state.lastGameResult">
          <span *ngSwitchCase="GameResult.Win">GANASTE!</span>
          <span *ngSwitchCase="GameResult.Loss">PERDISTE :(</span>
          <span *ngSwitchCase="GameResult.Draw">Culo</span>
        </div>
        <div class="col s12">
          <button class="btn btn-large" *ngIf="state.playerItem !== null" (click)="start()">Play Again</button>
        </div>
      </div>
    </div>
  </div>
</div>